:root {
  --background: white;
  --accent: rgb(0, 0, 125);
  --accent: rgb(80, 80, 255);
  --accent-gradient: linear-gradient(to bottom right, rgb(121, 190, 255), rgb(48, 48, 255));
  --border-main: grey;
  /* --border-main: rgb(48, 48, 255); */
  --border-light: lightgrey;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  width: 100vw;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { font-size: 3rem; }
h3 { font-size: 2rem; }
p { font-size: 1.5rem; }

#main {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* Nav bar styles */
.nav-ctnr {
  width: 100%;
  background: white;
  border-bottom: 1px solid var(--border-light);
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  gap: 4rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: .5rem;

  img { width: 2rem; }
  h3 { font-size: 1.75rem; }
}

.searchbar {
  padding: .75rem 1rem;
  width: 100%;
  border: 1px solid var(--border-main);
  border-radius: .35rem;
}

.datetime-ctnr {
  display: flex;
  flex-direction: column;
  text-align: right;

  p { 
    text-wrap: nowrap;
    font-size: 1.25rem;
    /* opacity: .75; */
  }
}

.content-ctnr {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-text {
  display: flex;
  flex-direction: column;

  h1 {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img { width: 5rem; }
  p { opacity: .5; }
}

#city { color: var(--accent); }

.country-ctnr {
  display: flex;
  align-items: center;
  gap: .5rem;

  img { width: 2rem; }
  p { font-size: 1.5rem; }
}

/* MAIN WEATHER container */
.weather-ctnr {
  padding: 2rem;
  border: 1px solid var(--border-main);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-today {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .icon-temp {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 6.5rem;
    }
  }
  .temp {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.5rem;
      opacity: .5;
    }
  }
}

.today-stats {
  display: flex;
  align-items: center;
  gap: 2rem;

  div {
    p:first-child {
      font-size: 2rem;
      font-weight: 600;
    }
    p:last-child { font-size: 1.25rem; }
  }
}

/* HOURLY FORECAST */
.hourly-fc-ctnr {
  padding: 2rem;
  border: 1px solid var(--border-main);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */

  h3 {
    color: var(--accent);
    font-weight: 600;
    font-size: 1.75rem;
  }
  p { font-size: 1.5rem; }
}

.hourly-fc-reel {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  overflow-x: scroll;
  gap: 2rem;
}
.hourly-fc-reel::-webkit-scrollbar { height: .75rem; }
.hourly-fc-reel::-webkit-scrollbar-track { background: #f1f1f1; }
.hourly-fc-reel::-webkit-scrollbar-thumb { 
  background: #ccc; 
  border-radius: .5rem; 
}
.hourly-fc-reel::-webkit-scrollbar-thumb:hover { background: #aaa; }

.hour-fc {
  min-width: 5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .5rem;

  img { width: 4rem; }
  p { 
    display: flex; 
    align-items: start; 
    gap: .25rem; 
  }
  .scale-temp { font-size: 80%; }
}

/* Side by side widgets */
.widget-ctnr {
  display: flex;
  gap: 2rem;
  
  div { flex: 1; }
}

.widget {
  flex: 1;
  border: 1px solid var(--border-main);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;

  h3 {
    color: var(--accent);
    font-size: 1.75rem;
  }
}

/* Precipitation Widget */
.prec-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.prec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prec-value {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--accent)
}

.prec-label {
  font-size: 1.5rem;
  color: #333;
}


/* Weekly Forecast */
.forecast-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forecast-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--border-light);
  padding: .5rem 0;
  font-size: 1.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img { width: 2rem; }

  div:last-child {
    flex-flow: wrap;
    justify-content: right;
    gap: .5rem;
  
    p {
      font-size: 1.5rem;
      gap: .25rem;
    }
    p:last-child { opacity: .5; }
  }
}
.forecast-row:last-child { border: none; }

/* Hourly Forecast */
.hour-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hour-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--border-light);
  padding: .5rem 0;

  div {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  img { width: 2rem; }
}
.hour-row:last-child { border: none; }

.fc-hourtemp {
  flex-flow: wrap;
  justify-content: right;
  gap: .5rem;

  p {
    font-size: 1.25rem;
    gap: .25rem;
  }
  p:last-child { opacity: .5; }
}
/* Hourly Forecast */
.hour-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hour-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--border-light);
  padding: .5rem 0;

  div {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  img { width: 2rem; }
}
.hour-row:last-child { border: none; }

.fc-hourtemp {
  flex-flow: wrap;
  justify-content: right;
  gap: .5rem;

  p {
    font-size: 1rem;
    gap: .25rem;
  }
}

#hourlyTempChart {
  width: 100%; /* Ensures the chart spans the width of the widget */
  max-width: 500px; /* Optional: Constrain the maximum width */
  height: 250px; /* Fixed height for the chart */
  max-height: 300px; /* Optional: Set a maximum height */
  margin: auto; /* Center the chart vertically */
}


/* Search History */
.searchbar-container {
  position: relative;
  width: 100%;
}

#search-history {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}
#search-history li {
  padding: 10px;
  cursor: pointer;
  color: #007BFF;
  border-bottom: 1px solid lightgrey;
}

#search-history li:last-child {
  border-bottom: none;
}

#search-history li:hover {
  background-color: #f0f8ff;
  color: #0056b3;
}

.hidden {
  display: none;
}
